:root {
  --serif: 'Alike Angular', Georgia, serif;
  --sans-serif: 'Work Sans', sans-serif;
  --mono: 'Hack', monospace;
  --max-width: 36rem;
  --font-small: 0.8rem;
  --font-med: 0.9rem;
  --scrollbar-thumb: rgb(65, 92, 115);
  --scrollbar-thumb-hover: rgb(65, 92, 115);
  --border-radius: 6px;
  --code-darkening: rgba(0, 0, 0, 0.1);
  --white: #fff;
  --black: #000;
  --charcoal: #383f51;
  --azureish-white: #dce2f2;
  --independence: #3b4c75;
  --pastel-blue: #afb9d1;
  --manatee: #9da1aa;
  --img-opacity: 1;
  --text-color: var(--charcoal);
  --text-bright: var(--charcoal);
  --background-body: var(--azureish-white);
  --border: var(--charcoal);
  --selection: var(--manatee);
  --links: var(--independence);
  --blockquote-background: var(--code-darkening);
}

@media (prefers-color-scheme: dark) {
  :root {
    --code-darkening: rgba(0, 0, 0, 0.2);
    --img-opacity: 0.8;
    --text-color: var(--azureish-white);
    --text-bright: var(--azureish-white);
    --background-body: var(--charcoal);
    --border: var(--azureish-white);
    --selection: var(--manatee);
    --links: var(--pastel-blue);
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: greyscale;
}

html {
  font-size: 18px;
}
@media (min-width: 800px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  padding: 0 1rem;
  font-family: var(--sans-serif);
  color: var(--text-color);
  background: var(--background-body);
  line-height: 1.4;
}

main {
}

.footnote-definition,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
hr,
pre,
code,
footer,
iframe,
blockquote {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--serif);
}

h1 {
  font-size: 1.7rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

a {
  color: var(--links);
}

hr {
  border-color: var(--border);
}

li {
  list-style-type: circle;
}

svg {
  stroke: var(--text-color);

}

a:hover,
a:focus {
  color: var(--text-color);
  text-decoration-thickness: 2px;
}

.heading-with-skip-link {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.heading-with-skip-link * {
  margin: 1rem 0;
  display: inline;
}

.heading-with-skip-link a {
  text-decoration: none;
  color: var(--text-color);
  width: 2rem;
}

.heading-with-skip-link a:hover,
.heading-with-skip-link a:focus {
  color: var(--links);
}

main > header {
  padding: 0.25rem 0.5rem;
}

main > header nav {
  margin: 1rem auto;
}

code,
samp {
  font-family: var(--mono);
  color: var(--text-bright);
  font-size: 0.9rem;
}

pre {
  font-family: var(--mono);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: var(--border-radius);
  max-width: var(--max-width);
  overflow: auto;
  word-wrap: normal;
  font-size: 0.9rem;
}

img, canvas {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  opacity: var(--img-opacity);
}

blockquote {
  padding: 0.1rem 0.5rem;
  background: var(--blockquote-background);
  border-radius: var(--border-radius);
}

figure {
  max-width: 100%;
  margin: 5rem auto;
}

figure figcaption {
  margin-top: 0.25rem;
}

footer {
  margin: 3rem auto;
  font-size: var(--font-small);
  line-height: 1.6;
}
footer a {
  display: inline-block;
  margin-right: 0.5em;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-body);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-moz-selection {
  background-color: var(--selection);
}

::selection {
  background-color: var(--selection);
}

.active > a {
  color: var(--text-bright);
  text-decoration-thickness: 2px;
  font-weight: 600;
}

.whirlygig-container {
  padding-top: calc(5 * min(50vh, var(--max-width)));
  padding-bottom: calc(50vh - min(50vh, var(--max-width)) / 2);
  margin: 0 auto;
  max-width: calc(min(50vh, var(--max-width)));
}
.whirlygig-container-404 {
  position: absolute;
  top: 0;
  left: calc(50vw - min(80vh, 80vw) / 2);
  height: 100vh;
  width: calc(min(80vh, 80vw));
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}
.whirlygig {
  display: block;
  width: 100%;
}
.whirlygig line {
  stroke: var(--text-color);
  stroke-opacity: 0.5;
  stroke-linecap: round;
  stroke-width: 2;
}

.container-404 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: calc(min(80vh, 80vw) / 3);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-404 a {
  text-decoration: none;
}

/* Utility styles a la tailwindcss */

.nowrap {
  white-space: nowrap;
}

.overflow-x-auto {
  overflow-x: auto;
}

.pl-2 {
  padding-left: 0.5rem;
}

.text-right {
  text-align: right;
}

.text-lg {
  font-size: 1.25rem;
}

.italic {
  font-style: italic;
}

.footnote-definition {
  display: flex;
  gap: 1em;
}
.footnote-definition-label {
  margin-block: 1em;
}

/* End of utility styles */
