{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="404 Page Not Found">
    <title>{% block title %}404 Page Not Found &middot; {{ config.title }}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Alike+Angular&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
    <link rel="stylesheet" href="{{ get_url(path="screen.css") }}">
    <link rel="apple-touch-icon-precomposed" href="{{ get_url(path="images/apple-touch-icon-precomposed-300.png") }}">
    <link rel="icon" href="{{ get_url(path="images/favicon.ico") }}">

</head>
<body>
<main>
    <div class="whirlygig-container-404">
        <a href="{{ config.base_url }}" aria-hidden="true">{% include "whirlygig.html" %}</a>
    </div>
    <a href="{{ config.base_url }}">
    <div class="container-404">
        404
    </div>
    </a>
</main>
</body>

</html>
