<nav>
    <hr id="menu">
    <div class="heading-with-skip-link">
        <h1 class="text-lg">Go Even Further Beyond</h1>
        <a class="text-right" aria-label="Back to top" href="#">
            <h1 class="pl-2">&#9650;</h1>
        </a>
    </div>

    <ul class="overflow-x-auto">
        <li><a href="{{ config.base_url }}">Introduction</a></li>
        {% set index = get_section(path="_index.md") %}
        {% if index.subsections %}
        {% for s in index.subsections %}
            {{ macros::menu_entry(page_entry=s) }}
        {% endfor %}
        {% endif %}
    </ul>
</nav>
