<svg id="whirlygig" class="whirlygig" viewBox="-2 -2 104 104" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
    <line x1="50" y1="50" x2="95" y2="47.5">
        <animate attributeName="x2" values="95;100;95" dur="23s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y2" values="47.5;52.5;47.5" dur="16s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
    </line>
    <line x1="95" y1="47.5" x2="5" y2="5">
        <animate attributeName="x1" values="95;100;95" dur="23s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y1" values="47.5;52.5;47.5" dur="16s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="x2" values="5;0;5" dur="17s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y2" values="5;0;5" dur="31s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
    </line>
    <line x1="5" y1="5" x2="47.5" y2="95">
        <animate attributeName="x1" values="5;0;5" dur="17s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y1" values="5;0;5" dur="31s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="x2" values="47.5;52.5;47.5" dur="19s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y2" values="95;100;95" dur="15s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
    </line>
    <line x1="47.5" y1="95" x2="95" y2="5">
        <animate attributeName="x1" values="47.5;52.5;47.5" dur="19s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y1" values="95;100;95" dur="15s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="x2" values="95;100;95" dur="11s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y2" values="5;0;5" dur="13s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
    </line>
    <line x1="95" y1="5" x2="5" y2="47.5">
        <animate attributeName="x1" values="95;100;95" dur="11s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y1" values="5;0;5" dur="13s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="x2" values="5;0;5" dur="7s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y2" values="47.5;52.5;47.5" dur="29s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
    </line>
    <line x1="5" y1="47.5" x2="95" y2="95">
        <animate attributeName="x1" values="5;0;5" dur="7s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y1" values="47.5;52.5;47.5" dur="29s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="x2" values="95;100;95" dur="13s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y2" values="95;100;95" dur="19s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
    </line>
    <line x1="95" y1="95" x2="47.5" y2="5">
        <animate attributeName="x1" values="95;100;95" dur="13s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y1" values="95;100;95" dur="19s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="x2" values="47.5;52.5;47.5" dur="15s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y2" values="5;0;5" dur="23s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
    </line>
    <line x1="47.5" y1="5" x2="5" y2="95">
        <animate attributeName="x1" values="47.5;52.5;47.5" dur="15s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y1" values="5;0;5" dur="23s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="x2" values="5;0;5" dur="13s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y2" values="95;100;95" dur="19s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
    </line>
    <line x1="5" y1="95" x2="95" y2="47.5">
        <animate attributeName="x1" values="5;0;5" dur="13s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y1" values="95;100;95" dur="19s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="x2" values="95;100;95" dur="23s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
        <animate attributeName="y2" values="47.5;52.5;47.5" dur="16s" repeatCount="indefinite" keyTimes="0;.5;1" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline" />
    </line>
</svg>